# Include debug info in the compiled jars
build --javacopt=-g
build --host_javacopt=-g

# Disable The Guava Beta Checker.
# TODO(ronshapiro): explore how much work it would be to reenable this
build --javacopt="-Xep:BetaApi:OFF"
build --host_javacopt="-Xep:BetaApi:OFF"
