*~
\#*\#

.classpath
.factorypath
.project
.settings
eclipsebin

bin
gen
build
out
lib

target
pom.xml.*
release.properties
build.log

.idea
*.iml
classes

obj

.DS_Store

dependency-reduced-pom.xml

gen-external-apklibs

/bazel-*

*.pyc
