language: android

jdk:
  - oraclejdk8
  - oraclejdk7
  - openjdk7

android:
  components:
    - build-tools-20.0.0
    - android-16
  licenses:
    - android-sdk-license-5be876d5

install: mvn install clean --fail-never --quiet -DskipTests=true -Dinvoker.skip=true

script: mvn verify

notifications:
  email: false

branches:
  except:
    - gh-pages
