language: java

jdk:
  - oraclejdk7
  - openjdk7

before_install:
  - sudo apt-get install -qq libstdc++6:i386 lib32z1
  - export COMPONENTS=build-tools-19.0.1,android-16
  - curl -L https://raw.github.com/embarkmobile/android-sdk-installer/version-1/android-sdk-installer | bash /dev/stdin --install=$COMPONENTS
  - source ~/.android-sdk-installer/env

install: mvn install clean --fail-never --quiet -DskipTests=true -Dinvoker.skip=true

script: mvn verify

notifications:
  email: false

branches:
  except:
    - gh-pages
