body {
    background: #212121 url('debut_dark.png') fixed repeat;
    margin-top: 40px;
    color: #c6c6c6;
    text-shadow: 1px 0px 1px black;
    line-height: 20px;
}

code, pre {
    color: #bbb;
    background: none;
    border: none;
}
pre {
    font-size: 10px;
}
code {
    white-space: nowrap;
}

.side h1 {
    font-weight: normal;
    font-size: 90px;
    line-height: 90px;
    margin-bottom: 25px;
    color: #f0f0f0;
}
.side h3 {
    font-weight: normal;
    margin-bottom: 40px;
    color: #aaa;
}
.side ul {
    margin-bottom: 30px;
}

.main {
    padding-top: 40px;
    padding-bottom: 40px;
}
.main h3 {
    padding-top: 40px;
    margin-top: 0;
    margin-bottom: 10px;
}
.main h4 {
    padding-top: 30px;
    margin-top: 0;
    margin-bottom: 8px;
    text-transform: uppercase;
}
.main h4:first-child, .main h3:first-child {
    padding-top: 0;
}
.main h5 {
    font-size: 12px;
    margin-top: 14px;
    margin-bottom: 4px;
    color: #666;
    text-transform: uppercase;
}

#ribbon img {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

a:link, a:visited, a:active, a:hover {
    color: #89B8C7;
}
a:hover {
    text-decoration: underline;
}

@media(min-width:768px) {
    body {
        margin-top: 60px;
    }
    .side {
        text-align: right;
        position: fixed;
    }
    .side ul {
        margin-bottom: 60px;
    }
    .main {
        padding-top: 28px;
        padding-bottom: 100px;
    }
    .main-inner {
        margin-left: 25px;
    }

    #ribbon img {
        position: fixed;
    }
}