<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Dagger &#x2020; A fast dependency injector for Android and Java.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fast dependency injector for Android and Java." />
    <link href="static/bootstrap.min.css" rel="stylesheet">
    <link href="static/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="static/prettify.css" rel="stylesheet">
    <link href="static/app.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="span4 side">
            <h1><img src="static/logo.png" alt="Dagger"></h1>
            <h3>A fast dependency injector for Android and Java.</h3>
            <p><a href="https://squareup.com/"><img src="static/square.png" alt="by Square, Inc."></a></p>
      </div>
        <div class="offset4 span8 main"><div class="main-inner">

{{ content }}

            <a id="ribbon" href="https://github.com/square/dagger"><img src="static/ribbon.png" alt="Fork me on GitHub"></a>
        </div></div>
    </div>
</div>
<script src="static/prettify.js"></script>
<script> prettyPrint(); </script>
</body>
</html>
